{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="container d-flex justify-content-center">
  <div class="col-lg-8 col-12">
    <div class="text-center">
      <h3>Settings</h3>
    </div>
    <div class="card shadow-sm" style="border-width: 0px;">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 id="card-name" class="mt-2">Server Room <small><span class="badge bg-success">Running</span></small></h5>
      </div>
      <div class="card-body">
        <form method="post">
          <h5>Device Settings</h5>
          <div class="mb-3 text-body-secondary">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="Server Room">
          </div>
          <div class="mb-3 text-body-secondary">
            <label for="name" class="form-label">Device Type</label>
            <input type="text" class="form-control" id="name" name="name" value="Wemos D1 Mini">
          </div>
          <div class="mb-3 text-body-secondary">
            <label for="ip_address" class="form-label">IP Address</label>
            <input type="text" class="form-control" id="ip_address" name="ip_address" value="192.168.68.80">
          </div>
          <br>
          <h5>Display Settings</h5>
          <div class="mb-3 text-body-secondary">
            <label for="line_1" class="form-label">Line 1</label>
            <select class="form-select" id="line_1" name="line_1">
              <option value="temperature">Portainer</option>
              <option value="humidity">Jellyfin</option>
              <option value="pressure">Adguard Home</option>
              <option value="custom">Radarr</option>
            </select>
          </div>
          <div class="mb-3 text-body-secondary">
            <label for="line_2" class="form-label">Line 2</label>
            <select class="form-select" id="line_2" name="line_2">
              <option value="temperature">Portainer</option>
              <option value="humidity">Jellyfin</option>
              <option value="pressure">Adguard Home</option>
              <option value="custom">Radarr</option>
            </select>
          </div> 
          <div class="mb-3 text-body-secondary">
            <label for="line_3" class="form-label">Line 3</label>
            <select class="form-select" id="line_3" name="line_3">
              <option value="temperature">Portainer</option>
              <option value="humidity">Jellyfin</option>
              <option value="pressure">Adguard Home</option>
              <option value="custom">Radarr</option>
            </select>
          </div>
          <div class="mb-3 text-body-secondary">
            <label for="line_4" class="form-label">Line 4</label>
            <select class="form-select" id="line_4" name="line_4">
              <option value="temperature">Portainer</option>
              <option value="humidity">Jellyfin</option>
              <option value="pressure">Adguard Home</option>
              <option value="custom">Radarr</option>
            </select>
          </div>
        </form>
      </div> 
    </div>
    <br>
    <div class="text-center"> 
    <button type="button" class="btn btn-secondary">Save</button>
    </div>
    <br>
    <br>
  </div>


</div>

<!-- jQuery -->
<script
			  src="https://code.jquery.com/jquery-3.6.4.js"
			  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
			  crossorigin="anonymous"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

{% endblock %}